Source: openacalendar
Maintainer: Greg Sutcliffe <greg.sutcliffe@gmail.com>
Section: web
Priority: extra
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), cdbs, php5, curl
Homepage: http://ican.openacalendar.org/

Package: openacalendar
Architecture: any
Section: web
Priority: extra
Depends: php5, apache2, ${misc:Depends}
Description: OpenACalendar is an Open Source collaborative group wiki calendar,
  with strong Open Data tools baked in.  We can let any user add and edit
  events, like a wiki, or only certain users can have edit rights. All edits
  and deletes are versioned to ensure safety, like a wiki.  There are feeds and
  an API so exporting the data into the system of your choice should be easy.
