#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk

# Uncomment this to turn on verbose mode.
DEB_VERBOSE_ALL=1
DH_VERBOSE=1

build/openacalendar::
	echo "Building OpenACalendar"
	cp config.dist.php config.php
